body {
  margin: 15px;
  padding: 0px;
  font-size: 100%;
  line-height: 1.5;
  font-family: Verdana, Arial, sans-serif;
  color: white;
  background: grey;
}

section, header {
  display: block;
}

h1 {
  font-size: 40px;
  line-height: 12px;
  text-align: left;
  padding: 20px 40px;
}

h2 {
  font-size: 30px;
  padding: 10px;
}

ul, ol {
  margin: 10px 0;
  padding-left: 40px;
}

img {
  border: none;
  max-width: 100%;
  max-height: 100%;
}

th, td {
  text-align: left;
  padding: 5px;
}

.caption {
  text-align: center;
  font-size: 70%;
}

/* Class names are used in the CSS to style related elements */

.subheader {
  line-height: 20px;
  text-align: left;
}

.html-section {
    max-width: 80%;
    height: 260px;
    padding: 30px;
}

.html-structure {
  float: left;
  line-height: 30px;
  text-align: left;
}

.html-doc-img {
  margin-left: 5%;
  height: 200px;
  float: left;
  line-height: 12pt;
  text-align: left;
  float: left;
}

.web-basics-html {
  max-width: 100%;
  padding: 30px;
}

.web-basics-table {
  border-collapse: collapse;
  border-spacing: 4px;
  display: block;
  max-width: 80%;
  padding: 20px;
}

.of-interest {
  max-width: 80%;
  padding: 30px;
}
