body {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  color: black;
  line-height: 18pt;
  padding-left: 5pt;
  padding-right: 5pt;
  padding-top: 5pt;

}


h1 {
  font: 20pt Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 20pt;
}

h2 {
  font: 14pt Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 20pt;
}

img {
  padding: 3pt;
  float: right;
}

a {
  text-decoration: none;
}

table {
    width: 100%;
}

th {
    height: 50px;
    text-align: left;
}

/* Class names are used in the CSS to style related elements */

.header {
  font-size: 10pt;
  font-style: italic;
  line-height: 12pt;
  text-align: left;
  padding-top: 30pt;
}

.html-structure {
  font-size: 10pt;
  font-style: italic;
  line-height: 12pt;
  text-align: left;
  padding-top: 30pt;
}
.web-basics {
  font-size: 10pt;
  line-height: 12pt;
  text-align: left;
  padding-top: 30pt;
}

.of-interest {
    font-size: 10pt;
    font-style: left;
    line-height: 12pt;
    padding-top: 30pt;
}
